<div class="row">
    <div class="col-md-12">
        <h1>Aš nemoku trinti branchų!</h1>

        <div class="media" ng-repeat="user in devs | orderBy:staleBranches.length">
            <a class="pull-left" href="#">
                <img class="media-object" ng-src="{{ user.avatar }}">
            </a>

            <div class="media-body">
                <h4 class="media-heading">{{ user.name }}</h4>

                <h2>Branchai: {{ staleBranches.length }}</h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Master at {{ repo.master.object.sha }}</p>

        <p>Total branches: {{ repo.branches.length }}</p>

        <p>Stale branches: {{ staleBranches.length }}</p>
        <ul class="list-unstyled">
            <li ng-repeat="branch in staleBranches">
                <a href="#/repo/{{ repo.owner }}/{{ repo.name }}/{{ branch.sha }}">{{ branch.name }}</a>
                <span>Committer: {{ branch.status.commit.author.name }}</span>
            </li>
        </ul>
    </div>
</div>

